{% extends "layout.html" %}
{% block content %}
<div id="cartItems">
	<h3 style="font-family:helvetica;">Shopping Cart</h3>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
				<div class ="right">
					<a href="/removeFromCart?productId={{row[0]}}">Remove</a>
				</div>
			</div>
			<div id="itemPrice">
				💸 {{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span style="font-family:helvetica;"id="subtotal">Subtotal</span> : 💸 {{totalPrice}}

		</div>
	</div>
</div>
<div id="paymentMethods">
	<h4 style="font-family:helvetica;">Payment Methods Available:</h4>
	<h5 style="font-family:helvetica;">Based on /paymentMethods POST call.</h5>
	<div id="paymentMethods">
		<div>
			<hr id="seperator">
			<div id="paymentName">
				<span id="paymentNameTag">Drop-In</span><br>
				<td onclick="location.href='checkout/dropin'"><a href="checkout/dropin">Drop-in</a></td>
				<br>
				<h5 style="font-family:helvetica;">Or:</h5>
			</div>
		</div>
		<table>
			<thead>
			  <tr>
				<th>Name</th>
				<th>Type</th>
			  </tr>
			</thead>
			<tbody>
			{% for Name, Type in paymentMethods.items() %}
			 <tr>
				 <td> {{ Name }} </td>
				 <td onclick="location.href='checkout/{{ Type }}'"><a href="checkout/{{ Type }}">{{ Type }}</a></td>
			 </tr>
			{% endfor %}
			</tbody>
		  </table>
		<hr id="seperator">
	</div>
</div>
{% endblock %}

