{% extends "layout.html" %}
{% block content %}

<div class="container">
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Adyen CSS from TEST environment (change to live for production)-->
	<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.13.1/adyen.css"
		  integrity="sha384-r7Ye68dqFoSnkRA9wgyLKiVNga2c+G98mIVq4FT+Rmi6ba0EH2/YI3ZGYvpZ3zIM"
		  crossorigin="anonymous">

	<div id="payment-page">
		<div class="container">
			<div class="checkout-component-container">

				<div id="component" class="payment">
					<!-- Component will be rendered here -->
				</div>

			</div>
		</div>
	</div>
	<div>
		<h4> Test Cards: </h4>
		<p><a href="https://docs.adyen.com/development-resources/testing/test-card-numbers#credit-and-debit-cards">All from Adyen.com</a></p>
		<table>
			<tr>
				<th>Brand</th>
			  <th>PAN</th>
			  <th>Expiry</th>
			  <th>CVV</th>
			  <th>3DS?</th>
			  <th>Country</th>
			</tr>
			<tr>
				<td>Amex</td>
			  <td>3700 0000 0000 002</td>
			  <td>03/30</td>
			  <td>7373</td>
			  <td>Not Enrolled</td>
			  <td>NL</td>
			</tr>
			<tr>
				<td>BCMC/Maestro</td>
			  <td>6703 4444 4444 4449</td>
			  <td>u/p</td>
			  <td>03/30</td>
			  <td>?</td>
			  <td>BE</td>
			</tr>
			<tr>
				<td>Cartes Bancaires/Visa Debit</td>
			  <td>4035 5014 2814 6300</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Enrolled</td>
			  <td>FR</td>
			</tr>
			<tr>
				<td>China UnionPay (Credit)</td>
			  <td>6250 9470 0000 0014</td>
			  <td>03/30</td>
			  <td>123</td>
			  <td>Enrolled</td>
			  <td>CN</td>
			</tr>
			<tr>
				<td>Discover</td>
			  <td>6011 6011 6011 6611</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Not Enrolled</td>
			  <td>US</td>
			</tr>
			<tr>
				<td>Mastercard</td>
			  <td>5201 2815 0512 9736</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Fingerprint, no challenge (Frictionless)</td>
			  <td>GB</td>
			</tr>
			<tr>
				<td>Visa</td>
			  <td>4111 1111 4555 1142</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Not Enrolled</td>
			  <td>NL</td>
			</tr>
			<tr>
				<td>Visa</td>
			  <td>4988 4388 4388 4305</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Not Enrolled</td>
			  <td>ES</td>
			</tr>
			<tr>
				<td>Visa</td>
			  <td>4293 1891 0000 0008</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Not Enrolled</td>
			  <td>AU</td>
			</tr>
			<tr>
				<td>Visa</td>
			  <td>4917 6100 0000 0000</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Enrolled</td>
			  <td>GB</td>
			</tr>  
			<tr>
				<td>Elo</td>
			  <td>5066 9911 1111 1118</td>
			  <td>03/30</td>
			  <td>737</td>
			  <td>Not Enrolled</td>
			  <td>BR</td>
			</tr>
			
		  </table>
		
	</div>

	<!-- Adyen JS from TEST environment (change to live for production)-->
	<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.13.1/adyen.js"
			integrity="sha384-M3DQX1ovYxJTUt7n1uN1IyRvhCtILxV+AwB5hHntGwmiYW2uRr4lmJnj0ToaqyFy"
			crossorigin="anonymous"></script>

	<script id="client-key" type="application/json">{{ client_key|tojson }}</script>
	<script id="integration-type" type="application/json">{{ method|tojson }}</script>

	<script src="{{ url_for('static', filename='js/adyen-implementation.js') }}"></script>
  </div>
{% endblock %}