{% extends "layout.html" %}
{% block content %}
<head>
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: auto;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}
		</style>
</head>
	<div>
	<p> {{error}} </p>
	<form action="/login" method="POST">
		<p>Email: <input type="text" name="email"></p>
		<p>Password: <input type="password" name="password"></p>
		<p><input type="submit"></p>
		<a href="/registerationForm">Register here</a>
	</form> <br> <br>


	<h6>Previously Registered Users:</h6>

	<table cellpadding="8" cellspacing="8"> 
		<thead>
		  <tr>
			<th>Email</th>
			<th>Country</th>
		  </tr>
		</thead>
		{% for data in userData %}
		<tbody>
			{% for row in data %}
			<td align="position"valign="right">
				{{row[0:]}}
			</td>
			{% endfor %}
		</tbody>
		{% endfor %}
	</table>


	</div>

{% endblock %}